/* styling for images */
img {
  width=50%;
}

/* styling for screenshots */
.screenshot
{

  /* centre horizontal align */
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* add border that matches the one on TOC */
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #cccccc;
}
